body {
  background-color: #fff;
  font-family: 'Assistant', sans-serif;
  color: #26B5AA;
}

.navbar-brand img {
  max-height: 65px;
}

.navbar-light .navbar-nav .nav-link {
  color: #26B5AA;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #26B5AA !important;
}

header {
  margin-top: -90px;
  padding: 180px 0 165px;
  background-color: #CFDAEB;
  background-size: cover;
}

header p {
  font-size: 22px;
}

main {
  background-color: #A19A9A;
  margin-top: -70px;
}

.section-produk-content .section-produk-pristine .card-pristine {
  min-height: 250px;
  background: #fff;
  color: #fff;
  padding: 5px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-produk-content .section-produk-pristine .card-pristine .jenis-produk {
  font-size: 15px;
  color: #26B5AA;
}

.section-produk-content .section-produk-pristine .card-pristine .ukuran {
  font-size: 18px;
  color: #26B5AA;
}

.section-produk-content .section-produk-pristine .card-pristine .order-button .btn-order {
  background-color: #26B5AA;
  color: #fff;
}

.section-produk-content .section-produk-pristine .card-pristine .order-button .btn-order:hover {
  background-color: #2BD4C7;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */